.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.title{
	font-family: roboto;
	font-size: 60px;
	text-align: center;
	letter-spacing: 1.35px;
	text-transform: uppercase;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.subtitle{
	color: #333333;
	font-family: nunito;
	font-size: 30px;
	letter-spacing: 1.35px;
	text-align: center;
	text-transform: uppercase;
}
.texto{
	color: #828282;
	font-family: nunito;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1.35px;
	text-transform: uppercase;
	margin: 0px 20px 0px 20px;
}
.fundo_cinza{
	background-color: #B8B8B8;
	padding: 10px 20px 10px 20px;
}
.bg_img_serv{
	background: #303B68;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}
.img_serv{
	width: 170px;
	height: 165px;
}
.txt_serv{
	font-family: Nunito;
	color: #fcfcfc;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.35px;
	text-transform: uppercase;
}
.img_port{
	width: 367px;
	height: 290px;
	margin: 5px 0px 0px 0px;
}

#btn_serv{
	background-color: #708FC6;
	color: #F7F2E5;
	font-size: 30px;
	text-align: center;
	font-family: Montserrat;
	text-transform: uppercase;
	text-shadow: 0px 3px 2px #747474;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 10px 90px 10px 90px;
	border-radius: 28px;
}
#barra_nav{
	background-color: #ffffff;
	font-family: Nunito;
	font-size: 18px;
	color: #656FAF;
	opacity: 0.9;
	letter-spacing: 1.35px;
	text-transform: uppercase;
	box-shadow: 0px 5px 5px grey;
}
#nav_item{
	padding: 0px 30px 0px 30px;
}
#Inicio{
	color:#FCFCFC;
	background-image: url(banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: 0px 3px 2px #747474;
}
#subtitulo{
	font-family: nunito;
	font-size: 30px;
	letter-spacing: 1.35px;
	text-transform: uppercase;	
}
h1{
	font-family: Poppins;
	letter-spacing: 1.35px;
	text-transform: uppercase;
}
#call_to_action{
	background-color: #708FC6;
	color: #FCFCFC;
	font-size: 30px;
	font-family: Montserrat;
	padding: 15px 45px 15px 45px;
	text-shadow: 0px 3px 2px #747474;
	border-radius: 13px;
	box-shadow: 0px 4px 250px #000000;
}
#nunito{
	font-family: Nunito;
}
#foto{
	width: 100%;
	height: 300px;
}
#social_icon{
	width: 45px;
	border-radius: 50%;
}